:root {
  --color-primary: #587b7f;
  --color-secondary: #edf7fa;
  --color-accent: #e2c044;
  --color-highlight: #ff3f00;
  --color-card-background: #ffffff;
  --font-body: 'Quicksand', sans-serif;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --shadow-strength: 0;
}
